<!DOCTYPE html>
<html>

<head>
  <title>Covid Greece</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Covid Stats for Greece</h1>
  <p>Coming soon...</p>

</body>

</html>