<!DOCTYPE html>
<html>

<head>
  <title>Covid Greece</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Covid Stats for <%= data['Country/Region']; %></h1>
  <p>The APP is under construction </p>
  <table>
    <thead>
      <tr>
        <% for(let prop in data) { 
          if(prop !== 'Province/State' && prop !== 'Country/Region' && prop !== 'Lat' && prop !== 'Long'){ %>
            <td><%= prop %></td>
        <%  }};  %>
      </tr>
    </thead>
    <tr>
      <% for(let prop in data) { 
          if(prop !== 'Province/State' && prop !== 'Country/Region' && prop !== 'Lat' && prop !== 'Long'){ %>
            <td><%= data[prop] %></td>
        <%  }};  %>
      </tr>
  </table>
</body>

</html>