<!DOCTYPE html>
<html>

<head>
  <title>Covid Greece</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.1/d3.min.js"></script>

</head>

<body>
  <h1>Covid Stats for <%= data['Country/Region']; %></h1>
  <p>The APP is under construction </p>
  <table>
    <thead>
      <tr>
        <% data.forEach(function(e, i){%>
          <td><%= e.date %></td>
          <%})%>
      </tr>
    </thead>
    <tr>
      <% data.forEach(function(e, i){%>
        <td><%= e.num %></td>
        <%})%>
      </tr>
  </table>
  <svg class="bar-chart"></svg>
  <script src="javascripts/drawGraph.js"></script>
</body>

</html>